.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
}
.main {
  text-align: left;
  background: lightblue;
}

.footer {
  background: lightgreen;
}

.aside-1 {
  background: gold;
}

@media all and (min-width: 200px) {
  .aside {
    flex: 1 auto;
  }
}

@media all and (min-width: 400px) {
  .main {
    flex: 9 0px;
  }
  .aside-1 {
    order: 1;
  }
  .main {
    order: 2;
  }
  .footer {
    order: 3;
  }
}

.active {
  color: green;
}
.ikonka {
  width: 16px;
  padding-top: 5px;
  background-image: (
    "http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/128/Actions-arrow-right-icon.png"
  );
}
